
$primaryColor: #f2545f;
$secondaryColor: #090707;
$grayColor: #707070;
$blackColor: #222;

.navbar{
    margin: 0 auto;
    position: fixed;
    z-index: 1000;
    width: 100%;
    ul{
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        li{
            padding: 20px;
        }
    }
}

.overViewSection{
    display: flex;
    flex-direction: row;
    align-items:center;
    .overview{
        background-color: $blackColor;
        color: #fff;
        width: 100%;
        padding: 30px;
         text-align: center;
        .iconContainer{
            margin: 10px;
            .icon{
                color: rgb(211, 46, 46); 
                font-size: 25px;
                width: 25px;
                height: 30px;
            }
        }
    }
}

/*====================================header =========================*/
.headerWrapper{
    height: 100vh; 
    width: 100vw; 
    background: url('../public/img/bg.jpg') no-repeat center center;
    margin: 0;
    padding-top:20%;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
   

    h2{
        font-size: 40px;
        //padding: 20% 0;
        color: $primaryColor;
    }
    h3{
        color: blue; 
        font-size: 34px;
        padding-top: 10px;
       
    }
    .Btn1{
        margin-right: 10px;
        color: blue; 
        font-size:40px;
    }

    .headerBtn1{
        margin-right: 10px;
        transition: all 0.6s ease; 
        &:hover{
            background-color: transparent;
            color: blue; 
        }
    }
    
}
/*======================================================================*/
.speaker_wrapper{
    text-align: center;
    background-color: hsla(0, 5%, 92%, 0.616);
    padding-top: 30px;
    padding: 0 50px;
    h1{
        font-size: 35px;
        //padding: 20px ; 
        color: rgba(0, 0, 0, 0.767);
        span{
            color: red;
        }
    }
    .creativeSpeakers{
        width: 100%;
        margin: 0; 
        padding: 20px;
        .creativeSpeakers{
            width: 100%;
            margin: 0; 
            padding: 20px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 300px;
            .speakerContent{
                background-color: #fff; 
                padding: 10px; 
                margin: 10px; 
                
            }
        }
        
    }
}


/*========================================*/
.programsWrapper{
    
    padding: 30px 80px;
    width: 60%;
    .programsTitle{
        font-size: 30px;
        span{
            color: $primaryColor;
        }
    }
    .programsText{
        color: grey;
        padding: 10px 0 15px 0;
        }
    .tabs{
        .tabsWrapper{
            margin: 5px 0; 
           
            //padding: 5px 0; 
            display: flex; 
            gap: 30px;
            .tabSapn{
                cursor: pointer; 
                color: #444;
            }
        }
        .line{ 
            height: 1px; 
            width: 100%;
            background-color: #949393;
            
        }
        .programsMainContent{
            margin: 10px 0;
            display: flex;
            padding: 20px 0;

            .programImgDiv{
                padding-right: 20px;
                .programImage{
                    
                    border-radius: 50%;

                }
            }
            .programsContent{
                padding: 0 10px;
                .iconWrapper{
                    font-size: 12px;
                    color:#707070;
                    padding-right: 10px;
                }
                .programHeading{
                    font-weight: 500;
                    font-size:25px;
                    color:#3a3939b3;
                    
                }
                .programName{
                    font-size: 14px;
                    font-weight: 400; 
                    color:#949393;
                    padding-bottom: 10px;
                }
                .programDesc{
                    font-size: 14px;
                    font-weight: 400; 
                    color:#949393;
                    padding-bottom: 10px;
                    padding-top:10px;
                }
            }
        }
    }
   
}

/*=================================== sponsors ================================*/
.sponsorWrapper{
    background-color: lightpink;
    width: 100%;
    padding: 50px 100px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
/*========================= about us =======================================*/
.aboutUsWrapper{
    padding: 50px 40px ;
    display: flex;
    gap: 30px;
    align-content: center;
    .aboutUsContent{
      
        p{
            color: grey;
        }
    }
   .imgDiv{
   
       Image{
         
       }
   
    }
}

/*=========================    register form ===============================*/
.formWrapper{
    height: 500px;
    background-color: rgb(53, 52, 52);
    color: #fff;
    margin: 0; 
    padding:50px  80px;
    display : flex; 
    gap: 80; 
    .formText{
        font-size: 26px;
        .formTitle{
        
            .formSpan{
                color: $primaryColor; 
            }
        }
        .formText1{
            font-size: 16px; 
            padding: 20px 0;
        }
        .formText2{
            font-size: 14px; 
            color: rgb(189, 187, 187);
        }
    }
    .regsiterForm{
        form{
            width: 100%;
            input{
                margin-bottom: 10px;
            }
            .error{
                font-size: 12px;
                color: $primaryColor;
                margin-bottom: 10px;
                padding-top: 0;
                margin-top: 0;
            }
        }
    }
    

}